.main {
  position: relative;
}

.rooms {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #009999;
  float: left;
  padding: 15px;
}

.roombutton {
  margin: 2px;
}

.newroom {
  margin-right: 50px;
  font-weight: 800;
  border-color: black;
}
