.main {
  position: relative;
}

.rooms {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #009999;
  float: left;
  padding: 15px;
}

.roombutton {
  margin: 2px;
}

.newroom {
  margin-right: 50px;
  font-weight: 800;
  border-color: black;
}

.chat-window-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.messages {
  width: 100%;
}

.messages-row .messages-username {
  font-weight: bold;
  width: 10%;
}

.messages-row .messages-content {
  width: 85%;
}

.messages-row .messages-time {
  width: 5%;
}
