.main {
  position: relative;
}

.rooms {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #c2d6d6;
  float: left;
  padding: 15px;
}

.roomlisting {
  position: relative;
  float: left;
  padding: 10px;
  margin: 4px;
  background-color: white;
  border-style: solid;
  border-color: black;
  width: 5%;
}

#newroom {
  margin-right: 50px;
  background-color: lightgrey;
}
