html {
    height: 100%; /* Sets height of our HTML element to 100% of the window */
    font-size: 100%; /* Sets font size to 100% */
}

body {
    font-family: 'Open Sans';  /*This font was linked to using the link in the index page */
    color: black; /* Font color will be black */
    min-height: 100%; /* Sets body height to 100% of the window */

}

.bodycontainer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
  background-color: #c2d6d6;
  top: 0;

}

.blocchattitle {
    position: relative;
    display: inline-block;
    float:left;
    width: 94%;
    vertical-align: center;
}

.userctrl {
  position: relative;
  display: inline-block;
  margin:0;
  padding-left: 20px;
  border-left-width: 2px;
  border-left-color: white;
  border-left-style: solid;

}

.main {
  position: relative;

}

.rooms {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #c2d6d6;
  float: left;
  padding: 15px;

}

.roomlisting {
  position: relative;
  float: left;
  padding: 10px;
  margin: 4px;
  background-color: white;
  border-style: solid;
  border-color: black;
}

#newroom {
  margin-right: 50px;
  background-color: lightgrey;
}
