html {
    height: 100%; /* Sets height of our HTML element to 100% of the window */
    font-size: 100%; /* Sets font size to 100% */
}

body {
    font-family: 'Open Sans';  /*This font was linked to using the link in the index page */
    color: black; /* Font color will be black */
    min-height: 100%; /* Sets body height to 100% of the window */

}

.bodycontainer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #009999;
  top: 0;
  vertical-align: middle;

}

.blocchat-title {
    position: absolute;
    display: inline-block;


    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 30%;
    text-align: left;
    font-weight: bold;
}

.username {
  position: absolute;
  display: inline-block;
  margin: auto;

  top: 0;
  bottom: 0;
  left: 90%;
  right: 0;
  width: 10%;
  height: 30%;
  text-align: center;



  padding-left: 20px;
  border-left-width: 2px;
  border-left-color: white;
  border-left-style: solid;
  height: inherit;

}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
