html {
    height: 100%; /* Sets height of our HTML element to 100% of the window */
    font-size: 100%; /* Sets font size to 100% */
}

body {
    font-family: 'Open Sans';  /*This font was linked to using the link in the index page */
    color: black; /* Font color will be black */
    min-height: 100%; /* Sets body height to 100% of the window */

}

.bodycontainer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
  background-color: #c2d6d6;
  top: 0;

}

.blocchattitle {
    position: relative;
    display: inline-block;
    float:left;
    width: 85%;
    vertical-align: center;
}

.userctrl {
  position: relative;
  display: inline-block;
  width: 10%;
  margin:0;
  padding-left: 20px;
  border-left-width: 2px;
  border-left-color: white;
  border-left-style: solid;

}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
