<!DOCTYPE html>
<html ng-app="blocChat">

<head lang="en">

    <meta charset="UTF-8">

    <title>Bloc Chat</title>

    <!-- Sets the width metadata to current device width. Inital scale of 1 (no default zoom) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Sylesheet Links to Open Sans Font -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300">

    <link rel="stylesheet" type="text/css" href="/styles/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/styles/home.css">

</head>

<body ng-controller="HomeCtrl as home">
  <div class = "bodycontainer">

    <section class='title'>
      <div class="blocchat-title"> <h4>"Bloc Chat"</h4> </div>
      <div class="username" ng-show='home.username != null'> <h4> {{home.username}} </h4> </div>
    </section>

    <section class="chat-window" ng-show="home.currentRoom.$value != null">
      <h3 class="chat-window-title">{{home.currentRoom.$value}}</h3>

      <table class ="messages">
        <tr class= "messages-row" ng-repeat="message in home.listOfMessages">
          <td class="messages-username"> {{message.username}}: </th>
          <td class="messages-content"> {{message.content}} </th>
          <td class="messages-time"> {{message.sentAt}} <th>
        </tr>
      </table>

    </section>

    <section ng-show="home.currentRoom.$value != null">
      <form class="message-input-form">
        Message: <input class="message-input" ng-model='home.message' type='text'>
        <input class="message-submit" type='submit' ng-click="home.newMessage(home.message,home.currentRoom.$id)" value='Send'>
      </form>
    </section>

    <nav class='rooms'>
      <button type = "button" class="btn btn-default newroom" ng-click="home.open()" > New Room </button>
      <button type = "button" class="btn btn-default roombutton" ng-click="home.setCurrentRoom(myRoom)" ng-repeat="myRoom in home.myRooms">{{myRoom.$value}}</div>
    </nav>

  </div>

  <!--Include the Minified jQuery libary.-->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>

  <!-- Initialize Firebase -->
  <script src="/scripts/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

  <!-- Bootstrap Script  -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- UI Bootstrap Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>

  <!-- Angular Animate -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>

  <!-- Angular Sanitize -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>

  <!-- Angular Cookies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>

  <!-- My App Scripts -->
  <script src="/scripts/app.js"></script>

  <script src="/scripts/services/Room.js"></script>
  <script src="/scripts/services/Messages.js"></script>

  <script src="/scripts/controllers/HomeCtrl.js"></script>
  <script src='/scripts/controllers/NewChatroomCtrl.js'></script>
  <script src='/scripts/controllers/NewUserCtrl.js'></script>


  <script src='/scripts/run/BlocChatCookies.js'></script>

</body>

</html>
